.submitBtn{
  width: 100;
  background-color: #8661C1;
}

.card {
  width: 30rem;
  margin: 0 auto; 
  margin-top: 50px; 
  padding: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.align{
  width: 50rem;
  margin: 0 auto;
  margin-top: 50px;
  padding: 10px;
}
.comment-area{
  resize: none;
}